* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Main-Background-Color: #fff;
  --Hero-Sec-Btn-Color: #664efc;
  --Anchor-Link-Color: #2604f9;
  --T-Heading-Color: #000;
  --T-P-Color: #555555;
  --T-Font-Family: "DM Sans", sans-serif;
}

body {
  font-family: var(--T-Font-Family);
  background-image: radial-gradient(at top left, #ebcbf7 0%, #f9e9ec 15%, #fdfcf9 30%);
}
body h1,
body h2 {
  color: var(--T-Heading-Color);
}
body p {
  color: var(--T-P-Color);
}

.main-main .main-hero-section {
  margin: 0 10% 238px 10%;
}
@media (max-width: 1490px) {
  .main-main .main-hero-section {
    margin: 0px 5% 238px 5%;
  }
}
@media (max-width: 760px) {
  .main-main .main-hero-section {
    margin: 0px 3% 235px 3%;
  }
}
.main-main .main-hero-section .main-hero-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1055px) {
  .main-main .main-hero-section .main-hero-section-container {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-heading {
  font-size: 58px;
  max-width: 590px;
  margin-bottom: 10px;
}
@media (max-width: 1055px) {
  .main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-heading {
    font-size: 48px;
  }
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-para {
  max-width: 520px;
  margin-bottom: 15px;
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-btn {
  background-color: var(--Hero-Sec-Btn-Color);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  color: var(--Main-Background-Color);
  font-weight: 700;
  font-family: var(--T-Font-Family);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-btn .header-btn-p {
  display: inline;
  color: var(--Main-Background-Color);
  font-weight: 400;
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-btn:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-btn:active {
  transform: translateY(2px);
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .avatar-hero-img {
  margin-bottom: 10px;
}
.main-main .main-hero-section .main-hero-section-container .hero-left-container .hero-sec-para .no-blue {
  color: var(--Anchor-Link-Color);
  font-weight: 700;
}
.main-main .main-hero-section .main-hero-section-container .hero-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1055px) {
  .main-main .main-hero-section .main-hero-section-container .hero-right-container {
    width: 100%;
    margin-bottom: 50px;
  }
}
.main-main .main-hero-section .main-hero-section-container .hero-right-container .hero-sec-img {
  max-width: 600px;
  width: 100%;
}
@media (max-width: 1055px) {
  .main-main .main-hero-section .main-hero-section-container .hero-right-container .hero-sec-img {
    max-width: 500px;
  }
}
.main-main .second-section {
  margin: 0 10% 100px 10%;
}
@media (max-width: 1490px) {
  .main-main .second-section {
    margin: 0px 5% 100px 5%;
  }
}
@media (max-width: 760px) {
  .main-main .second-section {
    margin: 0px 3% 100px 3%;
  }
}
.main-main .second-section .second-sec-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
@media (max-width: 990px) {
  .main-main .second-section .second-sec-container {
    align-items: center;
  }
}
@media (max-width: 378px) {
  .main-main .second-section .second-sec-container {
    align-items: flex-start;
  }
}
@media (max-width: 625px) {
  .main-main .second-section .second-sec-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.main-main .second-section .second-sec-container .second-sec-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main-main .second-section .second-sec-container .second-sec-left .second-section-heading {
  max-width: 600px;
  font-size: 38px;
  margin-bottom: 10px;
}
@media (max-width: 1055px) {
  .main-main .second-section .second-sec-container .second-sec-left .second-section-heading {
    font-size: 30px;
  }
}
.main-main .second-section .second-sec-container .second-sec-left .second-section-para {
  margin-bottom: 10px;
  max-width: 530px;
  line-height: 23px;
}
.main-main .second-section .second-sec-container .second-sec-left .second-section-link {
  text-decoration: none;
  color: var(--Anchor-Link-Color);
}
.main-main .second-section .second-sec-container .second-sec-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-main .second-section .second-sec-container .second-sec-right .second-section-img {
  max-width: 410px;
  width: 100%;
}
@media (max-width: 990px) {
  .main-main .second-section .second-sec-container .second-sec-right .second-section-img {
    max-width: 335px;
  }
}
.main-main .last-section {
  margin: 0 10% 250px 10%;
}
@media (max-width: 1490px) {
  .main-main .last-section {
    margin: 0px 5% 250px 5%;
  }
}
@media (max-width: 1055px) {
  .main-main .last-section {
    margin: 0px 5% 120px 5%;
  }
}
@media (max-width: 760px) {
  .main-main .last-section {
    margin: 0px 3% 120px 3%;
  }
}
.main-main .last-section .last-sec-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
@media (max-width: 625px) {
  .main-main .last-section .last-sec-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 625px) {
  .main-main .last-section .last-sec-container .last-sec-left {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
.main-main .last-section .last-sec-container .last-sec-left .left-section-img {
  max-width: 650px;
  width: 100%;
}
@media (max-width: 1055px) {
  .main-main .last-section .last-sec-container .last-sec-left .left-section-img {
    max-width: 400px;
  }
}
.main-main .last-section .last-sec-container .last-sec-right .last-sec-heading {
  max-width: 500px;
  font-size: 37px;
  margin-bottom: 10px;
}
@media (max-width: 1055px) {
  .main-main .last-section .last-sec-container .last-sec-right .last-sec-heading {
    font-size: 30px;
  }
}
.main-main .last-section .last-sec-container .last-sec-right .last-sec-para {
  max-width: 500px;
  line-height: 23px;
  margin-bottom: 10px;
}
.main-main .last-section .last-sec-container .last-sec-right .last-sec-link {
  color: var(--Anchor-Link-Color);
  text-decoration: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 50px 10%;
}
@media (max-width: 625px) {
  .main-footer {
    flex-direction: column;
  }
}
@media (max-width: 1490px) {
  .main-footer {
    margin: 0px 5% 50px 5%;
  }
}
@media (max-width: 760px) {
  .main-footer {
    margin: 40px 3% 100px 3%;
  }
}
.main-footer .footer-container-grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 625px) {
  .main-footer .footer-container-grid {
    margin-bottom: 40px;
  }
}
.main-footer .footer-container-grid .footer-first-container .footer-first-container-heading {
  font-size: 20px;
  margin-bottom: 10px;
}
.main-footer .footer-container-grid .footer-first-container .footer-first-container-para {
  max-width: 300px;
  line-height: 23px;
}
.main-footer .footer-container-grid .footer-first-container .footer-first-container-para-second {
  margin-top: 20px;
}
.main-footer .footer-container-grid-second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2.5rem;
}
@media (max-width: 1055px) {
  .main-footer .footer-container-grid-second {
    grid-template-columns: 1fr 1fr;
  }
}
.main-footer .footer-container-grid-second .footer-second-container,
.main-footer .footer-container-grid-second .footer-third-container,
.main-footer .footer-container-grid-second .footer-fourth-container,
.main-footer .footer-container-grid-second .footer-fifth-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media (max-width: 625px) {
  .main-footer .footer-container-grid-second .footer-second-container,
.main-footer .footer-container-grid-second .footer-third-container,
.main-footer .footer-container-grid-second .footer-fourth-container,
.main-footer .footer-container-grid-second .footer-fifth-container {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
}
.main-footer .footer-container-grid-second .footer-second-container .footer-main-links-heading,
.main-footer .footer-container-grid-second .footer-third-container .footer-main-links-heading,
.main-footer .footer-container-grid-second .footer-fourth-container .footer-main-links-heading,
.main-footer .footer-container-grid-second .footer-fifth-container .footer-main-links-heading {
  font-size: 20px;
  margin-bottom: 10px;
}
.main-footer .footer-container-grid-second .footer-second-container .footer-ul .footer-li,
.main-footer .footer-container-grid-second .footer-third-container .footer-ul .footer-li,
.main-footer .footer-container-grid-second .footer-fourth-container .footer-ul .footer-li,
.main-footer .footer-container-grid-second .footer-fifth-container .footer-ul .footer-li {
  list-style-type: none;
  margin-bottom: 8px;
}
.main-footer .footer-container-grid-second .footer-second-container .footer-ul .footer-li .footer-a,
.main-footer .footer-container-grid-second .footer-third-container .footer-ul .footer-li .footer-a,
.main-footer .footer-container-grid-second .footer-fourth-container .footer-ul .footer-li .footer-a,
.main-footer .footer-container-grid-second .footer-fifth-container .footer-ul .footer-li .footer-a {
  color: var(--T-P-Color);
  text-decoration: none;
}
.main-footer .footer-container-grid-second .footer-second-container .footer-ul .footer-li:hover,
.main-footer .footer-container-grid-second .footer-third-container .footer-ul .footer-li:hover,
.main-footer .footer-container-grid-second .footer-fourth-container .footer-ul .footer-li:hover,
.main-footer .footer-container-grid-second .footer-fifth-container .footer-ul .footer-li:hover {
  transform: translateY(-1px);
  transition: all 0.2s ease-in-out;
}
.main-footer .footer-container-grid-second .footer-second-container .footer-ul .footer-li:active,
.main-footer .footer-container-grid-second .footer-third-container .footer-ul .footer-li:active,
.main-footer .footer-container-grid-second .footer-fourth-container .footer-ul .footer-li:active,
.main-footer .footer-container-grid-second .footer-fifth-container .footer-ul .footer-li:active {
  transform: translateY(1px);
}/*# sourceMappingURL=style.css.map */